rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow upload if image < 5MB and is an image
    match /payment-screenshots/{workshopId}/{slotId}/{rollNumber} {
      allow read;
      allow write: if request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
    
    // Deny all other access
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
